#root {
    display: block;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

body {
    display: flex;
    align-items: center;
    justify-items: center;
}

.main-frame {
    padding: 24px 0px;
    margin: 0 auto;
    height: 100%;
}

.header-frame {
    padding: 0px 12px;
}

.top-frame {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
}
.top-section {
    display: flex;
    flex-grow: 1;
}

.top-section.center {
    justify-content: center;
}