#root {
    display: block;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

body {
    display: flex;
    align-items: center;
    justify-items: center;
}

.main-frame {
    padding: 24px 0px;
    margin: 0 auto;
    height: 100%;
    .main-contents {
        display: flex;
        gap: 18px;
        .main-content {
            display: flex;
            flex-direction: row;
            gap: 12px;
            .content-column {
                width: 50%;
                .busy-frame {
                    border: solid 1px #DEDEDE;
                    background-color: #EFEFEF;
                    border-radius: 12px;
                    display: flex;
                    min-height: 480px;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

.main-frame.mobile-device {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    .main-content {
        width: 100%;
        flex-direction: column;
    }
}

.header-frame {
    padding: 0px 12px;
}

.top-frame {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
}
.top-section {
    display: flex;
    flex-grow: 1;
}

.top-section.center {
    justify-content: center;
}