#root {
    display: block;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

body {
    display: flex;
    align-items: center;
    justify-items: center;
}

.main-frame {
    padding: 24px 0px;
    margin: 0 auto;
    height: 100%;
}

.header-frame {
    padding: 0px 12px;
}