.player-frame {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background-color: black;
}

.control-frame {
    padding: 12px;
    .control-section {
        flex-grow: 1;
        display: flex;
        gap: 8px;
        flex-direction: row;
        .volume-control-frame {
            gap: 12px;
            display: flex;
            .slider {
                flex-grow: 1;
                align-self: center;
            }
        }
    }

    .control-section.collapse {
        flex-grow: 0;
    }

    .control-section.center-vertical {
        align-items: center;
        align-self: center;
    }
}