services:

  channels:
    build: ./video-stream-channels
    container_name: channels
    ports:
      - "2276:2276"

  viewers:
    build: ./video-stream-viewers
    container_name: viewers
    ports:
      - "2277:2277"
    depends_on:
      - channels

  rtmp:
    build: ./video-stream-rtmp
    container_name: rtmp
    ports:
      - "1935:1935"
      - "8080:8080"
    depends_on:
      - viewers
    volumes:
      - /var/www/hls:/var/www/hls

  ui:
    build: ./video-stream-ui
    container_name: ui
    ports:
    - "3000:3000"